@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --font-lanze: 'Lanze', sans-serif;
    --color-primary: #ff0000;
    --color-secondary: #ffffff;
}

@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lanze";
    src: url('/fonts/Lanze-Halbred.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    color: var(--color-primary); 
}

.container-custom {
    width: 100%;
    padding:32px 6px;
}

@media screen and (max-width: 1024px) {
    .container-custom {
    padding: 16px 32px;
}
}
